.container {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    z-index: 1000;
}

.logo2 {
    position: fixed;
    left: 50%;
    translate: -50%;
    z-index: 1000;
}

.sneakers_dna {
    font-family: 'Changa', sans-serif;
    font-weight: 900;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    z-index: 1000;
}

.dna {
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
}

@media (max-width: 850px) {
    .all_dna {
        display: none;
    }
    .logo2 {
        display: none;
    }
}